{% include 'shared/layout.html' %}
{% load static %}
<div class="container">

    <div class="">
        <form method="POST">
            {% csrf_token %}
            <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">

            <input placeholder="Ingrese cantidad minima de unidades exportadas" type="text" class="form-control input-sm" name="filtrado">
              
            <button type="submit" class="btn whitecolor bgcolorgraay" style="width: 50%;">FILTRAR</button>
                
            </div>    
        </form>
        <div class="table-responsive" style="margin-top: 1%;">
            <table class="table h1color bgcolorwhite">
                <thead>
                    <tr>
                        <th>Importador</th>
                        <th>Exportador</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Transporte</th>
                        <th>Fecha</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for a in detalle %}
                    <tr>
                        <td style="">{{a.importador }}</td>

                    
                        <td style="font-weight:bold;">{{a.exportador}}</td>

                        <td style="text-align:left">{{a.producto}}</td>
                        <td style="font-weight:bold;">{{a.cantidad}}</td>


                        <td style="font-weight:bold;">{{a.tipo_transporte}}</td>

                    
                

                        <td style="">{{a.fecha}}</td>
                
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>